*{
    padding:0;
    margin:0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(74, 0, 63, 0.562);
}
.amount p{
    margin: 1rem 0 0.25rem 0;
    font-size: large;

}
.container{
    background-color: white;
    padding:2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
.container h2{
    display:flex;
    align-items: center;
    justify-content: center;
}
.form{
    margin:2rem 0 1rem 0; //top-left-bottom-right
}
form input, select, button{
    width:100%;
    border:none;
    outline:none;
    border-radius:0.75rem
}
form input{
    border:1px solid lightgrey;
    height:2rem;
    padding-left:0.5rem;
    font-size:1rem;
}
form button{
  height:3rem;
  background-color: rgb(4, 0, 92);
  color:rgb(201, 219, 235);
  font-weight: bold;
  cursor:pointer;
}

.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top:1rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display:flex;
    width: 6rem;
    align-items: center;
    justify-content: center;
    border-radius:0.5rem;
    border: 1px solid lightgrey;
}
.select-container select{
    font-size:0.85rem;
    width:auto;
}
.msg{
    margin:2rem 0 2rem 0;
}
